.col-white { background-color: #f5f5f5; color: #111; }
.col-red { background-color: #fbb; color: #111; }
.col-blue { background-color: #ccf; color: #111; }
.col-green { background-color: #afa; color: #111; }
.col-yellow { background-color: #ffa; color: #111; }

.table-cardlist { font-size: 90%; }
.table-cardlist input[type="number"] {
  margin: 0;
}