@import fcg.rule.{Card, Color, MonsterCard, SpellCard, Rule}

@(monsterCards: Seq[MonsterCard], spellCards: Seq[SpellCard])(implicit app: play.api.Application, assets: AssetsFinder)

@main("FFCG", "index") {
@defining(play.core.PlayVersion.current) { version =>

<header class="jumbotron subhead">
    <div class="container">
        <h1>FFCG</h1>
        <p class="lead">
            FFCG は Tukkun 製作のゲーム <a href="http://www.kongregate.com/games/tukkun/anti-idle-the-game">Anti-Idle: The
            Game</a> 中に登場する TukkunFCG という CPU 対戦のカードゲームのクローンで、好きなデッキを組んで対人戦を行うことができます。本家の TukkunFCG
            から、カードの名前・種類・効果に変更があります。
        </p>
    </div>
</header>

<div id="top">
    <deck_build></deck_build>
</div>
}
}