@()

@main("FFCG Rules", "rules") {
@defining(play.core.PlayVersion.current) { version =>
<header class="jumbotron subhead">
    <div class="container">
        <h1>ルール・用語</h1>
        <p class="lead">
            FFCG のゲームルールを解説します。
        </p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav">
                <li><a href="#basics">ゲームの基本</a></li>
                <li><a href="#game-start">ゲーム開始時</a></li>
                <li><a href="#during-turn">ターン中</a></li>
                <li><a href="#turn-end">ターン終了時</a></li>
            </ul>
        </div>

        <div class="span9">
            <section id="basics">
                <div class="page-header"><h1>1. ゲームの基本</h1></div>
                <p class="lead">このセクションを読めば、基本的なルールをざっくり把握することができます。2～4節は、ゲーム上の細かい処理について詳しく記述しているので、ゲームを遊ぶ上で必ずしも読み込む必要はありません。</p>
                <p>このゲームは 2 人対戦で、<strong>モンスターカード</strong>と<strong>呪文カード</strong>を上手く使って早く相手を倒すことが目的です。</p>
                <p>各カードは<strong>白・赤・青・緑・黄</strong>のいずれかの色の属性を持ち、色に対応した<strong>エネルギー</strong>を消費することでカードを使用できます。エネルギーはターン経過で回復するほか、直接エネルギーを得るような効果を持つカードもあります。</p>
                <p>このゲームでは、1 ターンは基本的に<strong> 5 秒</strong>です。ターン中、<strong>各プレイヤーは好きなタイミングでカードを使用できます</strong>。ただし、カードを使った直後の 0.5 秒はカードを使用できません。また、誰かがカードを使用するたびにターンの残り時間が 1 秒延長されます。</p>
                <h3>モンスターカード</h3>
                <p>モンスターカードは、使用するとモンスターを場に召喚することができます。ただし、既に自分の召喚したモンスターが場にいるときは召喚できません。自分の召喚したモンスターは任意のタイミングで破壊することができます。</p>
                <h3>呪文カード</h3>
                <p>呪文カードは、使用すると呪文を唱えてその効果を発動することができます。ターン中に唱える呪文の回数に制限はありません。</p>
                <h3>攻撃と防御</h3>
                <p><strong>プレイヤー</strong>と<strong>モンスター</strong>は、HP・攻撃力・防御力のステータスを持ち、ターン終了時に同時に攻撃を行います。攻撃対象は、特殊な効果が発動していない限りは相手プレイヤーになります。</p>
                <p>攻撃によって対象が受けるダメージは、<strong>max{0, (攻撃側の攻撃力) - (防御側の防御力)}</strong>となります。HP が 0 以下になったモンスターは破壊されます。プレイヤーの HP が 0 以下になった場合はそのプレイヤーの負けです (同時に 0 以下になった場合は引き分けです)。</p>
                <h3>リジェネ/毒</h3>
                <p>プレイヤーやモンスターは<strong>リジェネ</strong>や<strong>毒</strong>を受けることがあります。この状態異常では毎ターンの終了時に HP が変動します。</p>
                <p>リジェネや毒の状態は<strong>リジェネ値</strong>というひとつの整数で表現されます。リジェネ値が r のプレイヤー・モンスターは、この処理によって r だけ HP を得ます (r が負なら失います)。</p>
                <p>「リジェネを n 付与する」「毒を n 付与する」といった効果はそれぞれ、リジェネ値に n 加える/減ずることを意味しています。</p>
                <h3>凍結</h3>
                <p>モンスターは<strong>凍結</strong>されることがあります。凍結状態のモンスターはターン終了時の攻撃を行わず、特殊効果も発動しません。</p>
                <p>凍結状態にはターン数が決まっており、所定のターン数が経過すると凍結状態は解除されます。</p>
            </section>

            <section id="game-start">
                <div class="page-header"><h1>2. ゲーム開始時</h1></div>
                <h3>山札と手札</h3>
                <p>それぞれのプレイヤーは、自分で構築したデッキからなる<strong>山札</strong> (順番はシャッフルされています) を持ちます。ゲーム開始時、各プレイヤーは山札から 3 枚を引き、<strong>手札</strong>とします。<strong>手札の最大枚数は 6 枚</strong>で、これを超えることはありません。</p>
                <p>デッキは<strong> 25 枚以上 100 枚以下</strong>のカードからなります。一部の例外を除き、<strong>同じ種類のカードは 7 枚まで</strong>しかデッキに入れることはできません。</p>
                <h3>エネルギーとジェネレーター</h3>
                <p>ゲーム開始時、プレイヤーは 5 色の属性に対応するエネルギーをそれぞれ 1 ずつ持った状態です。また、5 色の属性に対応した<strong>ジェネレーター</strong>もそれぞれ 1 ずつ持っています。</p>
            </section>

            <section id="during-turn">
                <div class="page-header"><h1>3. ターン中</h1></div>
                <p>ターン中は双方のプレイヤーが好きなタイミングでカードを使用できます。</p>
                <p>使用カードの効果 (除去効果や、即時ダメージ効果など) によって、モンスターの HP が 0 以下になった場合、そのモンスターは即座に破壊されます。同様に、プレイヤーの HP が 0 以下になった場合、即座にゲームが決着します。</p>
            </section>

            <section id="turn-end">
                <div class="page-header"><h1>4. ターン終了時</h1></div>
                <p>ターンの終了時には、場に出ているモンスターや、そのターンに唱えられた呪文の効果などによって様々な処理が行われます。それらの処理を行われる順に説明します。</p>
                <h3>プレイヤーとモンスターによる攻撃</h3>
                <p>プレイヤーとモンスターが、特殊な効果が発動していない限りは相手プレイヤーを攻撃します。<strong>この時点で HP が 0 以下になっても、まだモンスターの破壊やゲームの決着は行われません。</strong></p>
                <h3>リジェネ/毒の適用</h3>
                <p>プレイヤーやモンスターが<strong>リジェネ</strong>や<strong>毒</strong>を受けている場合、その分の回復処理やダメージ処理を行います。<strong>この時点で HP が 0 以下になっても、まだモンスターの破壊やゲームの決着は行われません。</strong></p>
                <h3>ジェネレーターによるエネルギー回復</h3>
                <p>ターン終了時、プレイヤーは所持しているジェネレーターの個数分の (対応する色の) エネルギーを得ることができます。エネルギーは 99 を超えて溜まることはありません。</p>
                <h3>カードのドロー</h3>
                <p>各プレイヤーが自分の山札から新たに手札に 1 枚ドローします。</p>
                <p>山札が尽きている場合や、手札がすでに 6 枚ある場合などはドローを行わず、かわりにペナルティとして毒 1 を付与されます。</p>
                <h3>効果の発動</h3>
                <p>モンスターの特殊効果や呪文の効果の中には、ターン終了時にその効果を発動させるものがあります。それらの効果を同時に発動させる処理を行います。</p>
                <h3>破壊/決着判定</h3>
                <p>この時点で、HP が 0 以下のモンスターは破壊されます。また、HP が 0 以下のプレイヤーがいればゲームが決着します。</p>
            </section>
        </div>
    </div>
</div>
}
}